    body {
        font-family: 'Times New Roman', Times, serif;
        padding: 1.5rem;
        background-color: #d6afdc
        ;
        color: white;
    }


    table {
        width: 100%;
        max-width: 600px;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px 8px;
        text-align: center;
    }


    td:hover {
        background-color: blue;
        }
